body {
    font-family: Arial, sans-serif;
    margin: 15px;
    background-color: rgb(179, 216, 248);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
    background-color: #72b9fc;
    border-radius: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: rgb(0, 26, 255);
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    background-color: rgba(11, 12, 12, 0.219);
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    background-color: rgba(11, 12, 12, 0.219);
}

h2{
    text-align: center;
}